jdk:
- oraclejdk8
sudo: required
services: 
  - docker
notifications:
  email: false
install:
- nvm install node
- nvm use node
- npm install
- pip install --user codecov
script:
- npm run lint
- npm run test_phantomjs
- npm run build
- mvn verify
after_success:
  - bash <(curl -s https://codecov.io/bash) -f ./target/site/jacoco-ut/jacoco.xml -f ./target/site/jacoco-it/jacoco.xml
  - docker login -e="$DOCKER_EMAIL" -p="$DOCKER_PASS"
  - docker build -t triberraar/triber-chat:test
  - docker push triberraar/triber-chat
env:
  global:
  - secure: TiXtJRUNLVikcXoODbwF1Mw21Kca00hYQJv7mXtyr/0nOISi9TdpOnMqUCIUl8ZUyJ6Obco69D+mzvElrfYv6SO9ozcvPjrhzeHQwBvzpOUIEBwrzuCn0e0QqWug/k+lofxnEcHoi51grCktcEZ+ZPrLAtDKu1wx2kfpmoWNlIqpnLajbY2qz8Sut+ND4hsS5cqUaltK0yAbHihd8Bz8p0XnCNHkGLKdX75Hev9UwyCMJ1iGy0X5UAhxtJzwmYQ6j3rZj/A44K9YVptIUOTjJx8dczVkciaEOCkkCfPDRXqbWoS5vGD85KpIW1zFEbbVRTBiQNKLLD13pnr4MWLhF/A7oc8yqhdwXxT+62jdcFg7Yy885Mqr3E04aQ74NByiM6xTZp2A1FJ7kgK42e6JNNQ+BvF0iU21JZDjglHgMbtNG9sxCL9NL7DgKl2TB+Rdz6fDnPHqVCMZj70chL9mlLKp3mD8BPft6gCSd2/7Td2z3v87DpeAVL9pLERIFzQ2mb8ikrJfgV/TpswFZ2DjqJ5ILjwJN7TK6u+2QBntbmdju2cMVEHTsjkh1hEQx2XFlxr2RHIbSr517gkarzTPdMT4FBAcgl9lOun8Bp1tNC12N4dfPKLnOWfjrhel6q5lXA9okjdoupocZL2g4tMuA45y0+effAXwARGAu/DiMyc=
  - secure: K6fStMNXAOqdwihTtrdm2UbvWYCiqUEDsD0TGEg/LXfa9xy5JfKSCSDR0qh4016G1DKAq52nuwvvim/Dj7jkhvafnXyYWUe3hwxnrkUnPa2T13xeJUAd0RjBi9NO/WKES0gJrrDk0OSSXZUVakjdzfqPXI7VyOeFPfd5AyCNDW2X0Jsl9GlTyG21GDUYOLNcfs4RLQ1lk+pFMrl1GE9yxrQvHu2mOuhZiwWO6IFXh+xJ1vPOjyzY38rt77PRnIZ90COw4dN+kHaP+4F9JfCZ2uXNFno2j63/GBdRbznTIeR6V9/zuyam2g9MAN3U5T0UvS4oZEevYTwFTpdFS1Nnr5q43drHzwWQpCEe20hFdG8iHn/nKuUZ8T2S0wTB6R5cnxG1zzE/myAQDqHgQPVB0my5vcKsHZJbGGQf139X5iQ6vsUezL0ZAajUw3I2kxpN/rNzDj+f4De9ZTr8ETihHGGEdBvX2OWf/zIBMhd0gut7Q1Xw67alI6hoPS3UEjjzmhcqTe9MMozLWI+5pPlePzlsEajB5/eFVznbX3Pd+C8TJRIg0j0PLnZDh5EyQslTSOnmlQRHJ+xLkd3m/bDEVTErx8/c5p5+FeSvkfhSr7Fux6An6ezVWk20m2H5PpqocViiOxUu6kqGQfQiJmJYDM/8Dmg0D0bulCBw+pWwuuc=
  - secure: G1vS6GOhDNGT3CkVMOjYzQ1rdb+grH4gVLaQJgsZm1Q/npY0GUpvfSj/PpP5Hipt8Kz439/swcsotfobgnrho1Mwlx6/+GSxpXTQN921BEhfj0U4LgKNE5qQA0U+BlWjpOnKOA9/Y2Rh9u+jxG6YIxl/6dlYJ5z1W55gSGwd1bOYVAUfJkLzP8Mr6pLe1dA8oCWA/9Wcvp87IMceWcI2klyysV031PnT95aWmU1RAWyCjD4bNgn3WhwfJu8jbacgZrlggN3mPS8EzP2Q63m6LnUv/jwRnFgLMRQPVsoQkfDgnzOhOFOZjmK3TNcvlEgHFVj0HYV2j/H6170+rIrJlx1GwbqQ8PTg7/tLrQl2OxotSjHIr3qJGDV8+jUiy3zBK3RAxsjlprIbFXXSQE8wfy0G4S1N+11VPyDJIJPFt1TYEw4hZVjHaetsMGo5oB1YF39/cgGz41SnsLTj1i7IPHXVhKEJc0bdpKvBeJCXenTQZBavZVHu+J4uxRFsDOvlgTRRLN4fsnHd+3Y9nvaNnChPoRIySomMhUKFzYmV436+DpwBB3uSK/zzwvL4GwnFtVW/zPXUvPOrCRg+VPcAW2e7m7boOVHPoqR4zmSWPG9V71aOqQWTDMp0DONuoeRayELHFrZzIP7of8dpx1LDrLuSvpgLi7b6jAuVdwB6JnM=
