jdk:
- oraclejdk8
notifications:
    email: false
before_script:
  - pip install --user codecov
before_script:
  - npm install
  
script: mvn verify

after_success:
  - mvn cobertura:cobertura coveralls:report
  
