jdk:
- oraclejdk8
sudo: required
services:
- docker
notifications:
  email: false
install:
- nvm install node
- nvm use node
- npm install
- pip install --user codecov
script:
- npm run lint
- npm run test_phantomjs
- npm run build
- mvn verify
after_success:
- bash <(curl -s https://codecov.io/bash) -f ./target/site/jacoco-ut/jacoco.xml -f
  ./target/site/jacoco-it/jacoco.xml
- ./travis-docker.sh
- if [ ! -z "$TRAVIS_TAG" ] && [ "$TRAVIS_BRANCH" == "develop" ]; then
    echo "go"
  else
    echo "no go"
  fi
env:
  global:
  - secure: TiXtJRUNLVikcXoODbwF1Mw21Kca00hYQJv7mXtyr/0nOISi9TdpOnMqUCIUl8ZUyJ6Obco69D+mzvElrfYv6SO9ozcvPjrhzeHQwBvzpOUIEBwrzuCn0e0QqWug/k+lofxnEcHoi51grCktcEZ+ZPrLAtDKu1wx2kfpmoWNlIqpnLajbY2qz8Sut+ND4hsS5cqUaltK0yAbHihd8Bz8p0XnCNHkGLKdX75Hev9UwyCMJ1iGy0X5UAhxtJzwmYQ6j3rZj/A44K9YVptIUOTjJx8dczVkciaEOCkkCfPDRXqbWoS5vGD85KpIW1zFEbbVRTBiQNKLLD13pnr4MWLhF/A7oc8yqhdwXxT+62jdcFg7Yy885Mqr3E04aQ74NByiM6xTZp2A1FJ7kgK42e6JNNQ+BvF0iU21JZDjglHgMbtNG9sxCL9NL7DgKl2TB+Rdz6fDnPHqVCMZj70chL9mlLKp3mD8BPft6gCSd2/7Td2z3v87DpeAVL9pLERIFzQ2mb8ikrJfgV/TpswFZ2DjqJ5ILjwJN7TK6u+2QBntbmdju2cMVEHTsjkh1hEQx2XFlxr2RHIbSr517gkarzTPdMT4FBAcgl9lOun8Bp1tNC12N4dfPKLnOWfjrhel6q5lXA9okjdoupocZL2g4tMuA45y0+effAXwARGAu/DiMyc=
  - secure: G1vS6GOhDNGT3CkVMOjYzQ1rdb+grH4gVLaQJgsZm1Q/npY0GUpvfSj/PpP5Hipt8Kz439/swcsotfobgnrho1Mwlx6/+GSxpXTQN921BEhfj0U4LgKNE5qQA0U+BlWjpOnKOA9/Y2Rh9u+jxG6YIxl/6dlYJ5z1W55gSGwd1bOYVAUfJkLzP8Mr6pLe1dA8oCWA/9Wcvp87IMceWcI2klyysV031PnT95aWmU1RAWyCjD4bNgn3WhwfJu8jbacgZrlggN3mPS8EzP2Q63m6LnUv/jwRnFgLMRQPVsoQkfDgnzOhOFOZjmK3TNcvlEgHFVj0HYV2j/H6170+rIrJlx1GwbqQ8PTg7/tLrQl2OxotSjHIr3qJGDV8+jUiy3zBK3RAxsjlprIbFXXSQE8wfy0G4S1N+11VPyDJIJPFt1TYEw4hZVjHaetsMGo5oB1YF39/cgGz41SnsLTj1i7IPHXVhKEJc0bdpKvBeJCXenTQZBavZVHu+J4uxRFsDOvlgTRRLN4fsnHd+3Y9nvaNnChPoRIySomMhUKFzYmV436+DpwBB3uSK/zzwvL4GwnFtVW/zPXUvPOrCRg+VPcAW2e7m7boOVHPoqR4zmSWPG9V71aOqQWTDMp0DONuoeRayELHFrZzIP7of8dpx1LDrLuSvpgLi7b6jAuVdwB6JnM=
  - secure: PWtR1+1yg+ohMU2o9VXryfShWXLYu6pDPAMLeLWOv39OALxGLAfegPc5OFd9PDoT1KfxnXhQ9OmxP6ETWZfpbWlRHpiCPKfVOvLe1bHXk0xFjSP/r+A3LaG/gXJW/HiCJ37Wncy6KtF+9Zn83dRyt+txmiv32c+8+A7obWvZeb2mriY6/ur6RpKM6+0A/TSD6fb7PT/13AfXWwqFvoXmYmo9wDBFcm5DChTS498ZtStfxeS69EM1JGx7jm6HY2dGGAXKTRc8EY3py+qqAP0wp0IMknixlOjpFada/fIENwRFTd5Ptdb6OYxGYdesVhzbEwmg+WQpYHOD4jiEkHSWnbckLvnuUfbaq5gt85QsZBhwgNsp0lZd8MwqrQ0JkeHEYiU4u1ZkW9L0wAPzTk6AuXBvq3dhlBtALf+u0CNL0VaVgZre9+wiNKvPILGORkqQSQrFg1dY9dTIYmt5Sr9M51GXzp46tObvQsUmjGU2BDtFv+JDWI+EsCqWYWzhQFp9UMS300eCd5b+v2RjSGIsE5ByYOdTDR6uefPUWmYI83Zy5I4EyLwGXNp6KUJmKOSx4DCGkKURzTGEfmd+H/iQoc9dh0ykPwszU1BZ4WYvBQIMQimt4dK33EkCxbj0ffB8WpSe+spt6VQiiIfWjvzPUsFi3Hxa278bz/Hdq4Ql9bw=
