jdk:
- oraclejdk8
notifications:
  email: false
install:
- npm install
- pip install --user codecov
script:
- npm run lint
- npm run test_phantomjs
- mvn verify
after_success:
- bash <(curl -s https://codecov.io/bash) -f ./target/site/jacoco-ut/jacoco.xml -f ./target/site/jacoco-it/jacoco.xml
env:
  global:
    secure: TiXtJRUNLVikcXoODbwF1Mw21Kca00hYQJv7mXtyr/0nOISi9TdpOnMqUCIUl8ZUyJ6Obco69D+mzvElrfYv6SO9ozcvPjrhzeHQwBvzpOUIEBwrzuCn0e0QqWug/k+lofxnEcHoi51grCktcEZ+ZPrLAtDKu1wx2kfpmoWNlIqpnLajbY2qz8Sut+ND4hsS5cqUaltK0yAbHihd8Bz8p0XnCNHkGLKdX75Hev9UwyCMJ1iGy0X5UAhxtJzwmYQ6j3rZj/A44K9YVptIUOTjJx8dczVkciaEOCkkCfPDRXqbWoS5vGD85KpIW1zFEbbVRTBiQNKLLD13pnr4MWLhF/A7oc8yqhdwXxT+62jdcFg7Yy885Mqr3E04aQ74NByiM6xTZp2A1FJ7kgK42e6JNNQ+BvF0iU21JZDjglHgMbtNG9sxCL9NL7DgKl2TB+Rdz6fDnPHqVCMZj70chL9mlLKp3mD8BPft6gCSd2/7Td2z3v87DpeAVL9pLERIFzQ2mb8ikrJfgV/TpswFZ2DjqJ5ILjwJN7TK6u+2QBntbmdju2cMVEHTsjkh1hEQx2XFlxr2RHIbSr517gkarzTPdMT4FBAcgl9lOun8Bp1tNC12N4dfPKLnOWfjrhel6q5lXA9okjdoupocZL2g4tMuA45y0+effAXwARGAu/DiMyc=
