version: "2.0"
services:
  db:
    image: mysql:latest
    ports: 
      - "3307:3306"
    expose:
      - "3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: triber-chat
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: triber-chat
  triber-chat:
    image: triberraar/triber-chat:${TAG}
    restart: always
    depends_on:
     - db
    links:
      - db
    ports:
      - "8080:8080"
    environment:
      CAPTCHA_SECRET: # fill in
      CRYPTO_IV: # fill in
      CRYPTO_SECRET: # fill in
      MAIL_SENDER_SERVER_ADDRESS: http://localhost:8080
      SECURITY_JWT_SECRET: # fill in
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/triber-chat
      SPRING_DATASOURCE_USERNAME: triber-chat
      SPRING_MAIL_PASSWORD: # fill in
      SPRING_MAIL_USERNAME: # fill in
      TAG: latest
      